<%= form_for([@post, comment]) do |f| %>
  <%= f.hidden_field :user_id, :value => current_user %>
  <%= f.hidden_field :post_id, :value => @post.id %>
  <p><%= f.text_area :content, size: "100x10" %></p>
  <%= f.submit %>
<% end %><br>
<% if comment.id %>
  <%= button_to 'Delete Comment', post_comment_path(@post, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>