<%= content_tag(:div, class:["user_form"]) do %>
  <%= form_for @user do |f| %>
    <p>
      <%= f.label :name %><%= f.text_field :name %> 
      <%= f.label :email %><%= f.email_field :email %>
      <%= f.label :password %><%= f.password_field :password %> 
      <%= f.label :password_confirmation %><%= f.password_field :password_confirmation %> 
    </p>
    <p>additional info, not required:</p>
    <p>
      <%= f.label :height %><%= f.text_field :height %>  
      <%= f.label :age %><%= f.number_field :age %>
    </p>
    <p><%= f.label :bio %></p>
    <p><%= f.text_area :bio, size: "100x10"%></p>
    <%= f.submit %>
  <% end %>
<% end %>