<% if is_current_user?(@user) %>
  <h3>Your Account</h3>
  <%= render "form" %>
  <%= button_to "Create A Post", new_post_path, method: :get %>
<% else %>
  <p><%= "User's name: #{@user.name}" %></p>
  <p><%= "email: #{@user.email}" %></p>
  <p><%= "height: #{@user.height}" if !@user.height.blank? %></p>
  <p><%= "age: #{@user.age}" if @user.age %></p>
  <p><%= "bio: #{@user.bio}" if !@user.bio.blank? %></p>
  <br>
<% end %>
<% if @user.posts.any? %>
  <p><%= is_current_user?(@user) ? "Your" : "#{@user.name}'s"%> posts:</p>
  <%= render @user.posts %>
<% end %>
<% if is_current_user?(@user) %>
  <%= button_to 'Delete User', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>