<% if @user.id == current_user %>
  <h3>Your Account</h3>
  <%= render "form" %>
  <%= link_to "Create Post", new_post_path %>
<% else %>
  <p><%= "User's name: #{@user.name}" if @user.name %></p>
  <p><%= "email: #{@user.email}" if @user.email %></p>
  <p><%= "height: #{@user.height}" if @user.height %></p>
  <p><%= "age: #{@user.age}" if @user.age %></p>
  <p><%= "bio: #{@user.bio}" if @user.bio %></p>
<% end %>