<% if is_current_user?(@post.user) %>
  <%= render 'form' %>
<% else %>
  <%= render partial: 'display_info', locals: {post: @post} %>
<% end %>
<div class="comments"></div>
<%= button_to "Load Comments", post_comments_path(@post), {method: :get, form_class: "getComments"} %>
<%= content_tag(:h3, "Volunteer Opportunities") unless @appointments.blank? %>
<%= render partial: 'appointments/post_appointment', collection: @appointments, as: :appointment %><br>
<% if is_current_user?(@post.user) %>
  <%= button_to "Create a new Appointment", new_post_appointment_path(@post), method: :get %><br>
  <%= button_to 'Delete Post', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= button_to "Look at all of my appointments", post_appointments_path(@post), method: :get %>

<script id="comment-template" type="text/x-handlebars-template">
  <div class="comment-content">
    <h4>{{content}}</h4>
    <div class="comment-data">
      written by: <a href="/users/{{user.id}}">{{user.name}}</a>, last edited: {{updated_at}}
    </div>
  </div>
</script>