<% if is_current_user?(@post.user) %>
  <%= render 'form' %>
<% else %>
  <%= render partial: 'display_info', locals: {post: @post} %>
<% end %>
<input id="new-comment-button" type="submit" value="Add New Comment" />
<div id="new-comment"></div>
<div class="comments"></div>
<%= button_to "Load Comments", post_comments_path(@post), {method: :get, form_class: "get-comments"} %>
<%= content_tag(:h3, "Volunteer Opportunities") unless @appointments.blank? %>
<%= render partial: 'appointments/post_appointment', collection: @appointments, as: :appointment %><br>
<% if is_current_user?(@post.user) %>
  <%= button_to "Create a new Appointment", new_post_appointment_path(@post), method: :get %><br>
  <%= button_to 'Delete Post', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<script id="comment-template" type="text/x-handlebars-template">
  <div class="comment-content">
    <h4>{{content}}</h4>
    <div class="comment-data">
      written by: <a href="/users/{{user.id}}">{{user.name}}</a>, last edited: {{updated_at}}
    </div>
  </div>
</script>
<script id="edit-comment-template" type="text/x-handlebars-template">
  <div class="comment-content" data-comment-id="{{id}}">
    <h4>{{content}}</h4>
    <div class="comment-data">
      <input id="edit-comment-{{id}}" type="submit" value="Edit Comment" /> written by: you!
    </div>
  </div>
</script>
<script id="new-form-template" type="text/x-handlebars-template">
  <form action="/posts/<%=@post.id%>/comments" method="post" class="new-comment-form">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="hidden" name="comment[post_id]" value="<%= @post.id %>">
  <input type="hidden" name="comment[user_id]" value="<%= current_user %>">
  <label for='comment[content]'>content:</label><textarea class="comment-content-text" name='comment[content]', cols="100", rows="10"></textarea>
  <p><input id="create-comment" type="submit" value="Create Comment" /></p>
</script>
<script id="update-form-template" type="text/x-handlebars-template">
  <form action="/posts/<%=@post.id%>/comments/{{id}}" method="patch" class="update-comment-form" data-comment-id="{{id}}">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="hidden" name="comment[post_id]" value="<%= @post.id %>">
  <input type="hidden" name="comment[user_id]" value="<%= current_user %>">
  <label for='comment[content]'>content:</label><textarea class="comment-content-text" name='comment[content]', cols="100", rows="10"></textarea>
  <p><input class="update-comment" type="submit" value="Update Comment" /></p>
</script>