  <%= content_tag(:div, class:["post_appointment"]) do %>
    <p><%= @post.user.name %> requests <%= appointment.spots %> volunteers from <%= appointment.display_date(appointment.start_date) %> to <%= appointment.display_date(appointment.end_date) %></p>
    <p>information: <%= appointment.info %></p>
    <p>spots left: <%= appointment.spots_left %></p>
  <% end %>